<figcaption itemprop="caption description">
  Descripción de la imagen
  <span itemprop="copyrightHolder">
    Fotografía: <a href="https://twitter.com/laux_es" rel="author" target="_blank">Ángel M</a>
  </span>
</figcaption>

<img class="painting__image" alt="Pagoda japonesa" src="/images/pagoda-japonesa.jpg"/>
<section class="painting__content">
  <h1 class="painting__content__title">Pagoda japonesa</h1>
  <p class="painting__content__features">
    Óleo - 75x40cm
  </p>
  <p class="painting__content__description">
    Paisaje japonés con una pagoda (pequeño templo). En el fondo
    tenemos una montaña nevada que contrasta con las flores del campo
    que tenemos delante.
  </p>
</section>
