<footer>
  <div class="container">
    <div class="footer__content">
      © Angel Miguel 2017. Las imágenes están bajo licencia de
      <a href="http://artlibre.org/licence/lal/en/" target="_blank">Arte libre 1.3</a>
    </div>
  </div>
</footer>
