<%- include('partials/_head'); %>
<body>
  <%- include('partials/_header'); %>
  <main>
    <article class="painting painting--inverse" style="background-color: #b54f4d">
      <div class="container">
        <img class="painting__image" alt="Pagoda japonesa" src="/images/pagoda-japonesa.jpg"/>
        <section class="painting__content">
          <h1 class="painting__content__title">Pagoda japonesa</h1>
          <p class="painting__content__features">
            Óleo - 75x40cm
          </p>
          <p class="painting__content__description">
            Paisaje japonés con una pagoda (pequeño templo). En el fondo
            tenemos una montaña nevada que contrasta con las flores del campo
            que tenemos delante.
          </p>
        </section>
      </div>
    </article>
    <article class="painting" style="background-color: #dde4f3">
      <div class="container">
        <img class="painting__image" alt="Rosa" src="/images/rosa.jpg"/>
        <section class="painting__content">
          <h1 class="painting__content__title">Rosa</h1>
          <p class="painting__content__features">
            Óleo - 30x25cm
          </p>
          <p class="painting__content__description">
            Paisaje japonés con una pagoda (pequeño templo). En el fondo
            tenemos una montaña nevada que contrasta con las flores del campo
            que tenemos delante.
          </p>
        </section>
      </div>
    </article>
  </main>
  <%- include('partials/_footer'); %>
</body>
