.painting
  @extend .clearfix

  .container
    position: relative

  img
    max-width: 100%

  &__gallery
    figure
      margin: 0
      padding: 0

    &__main
      width: 80%
      border-bottom: 2px solid black
      border-right: 2px solid black

    &__right
      width: 18%
      position: absolute
      top: 0
      right: 0

      figure
        margin-bottom: 1em

  &__features
    width: 30%
    float: left
    padding-top: 1em

    tr td
      font-size: .9em

      &:first-child
        font-weight: bold
        padding-right: 1em

      &:last-child
        color: #444

  &__content
    padding: 3em
    background-color: #f8f8f8
    float: left
    width: 70%
    position: relative
    top: -4em
    z-index: -1
    box-sizing: border-box

    &__title
      margin-bottom: .25em
      font-size: 3em
      font-family: 'Marck Script', cursive
      font-weight: normal

    &__features
      font-size: .8em

    &__description
      margin-bottom: 0
